* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }
  
  header {
    padding: 20px;
    margin-bottom: 0px;
    color: #333;
    background: steelblue;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFA500;
  }
  
  #left {
    float: left;
    width: 33.3%;
    color: #fff;
    background: maroon;
  }
  
  #middle {
    float: left;
    width: 33.3%;
    color: #fff;
    background: grey;
  }
  #middle .carousel-item {
      width:200px;
      height:200px;
  }
  #right {
    float: left;
    width: 33.3%;
    color: #fff;
    background: #30948D;
  }
  
  #full {
    width: 100%;
    overflow: auto;
    clear: both;
    color: #fff;
    background: #394549;
  }
  
  #division {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
  }
  
  aside {
    float: left;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    background: #a6b747;
    border: 1px solid #eee;
  }
  
  footer {
    padding: 20px;
    clear: both;
    background: #FFA500;
  }
  
h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 100px;
}
h2 {
    font-size:35px;
    font-family: 'Black Ops One', cursive;
    text-align: center;
}
h3 {
    font-size:20px;
    font-family: 'Black Ops One', cursive;
    text-align: center;
}
#full {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFA500;
p {
    font-family: 'Share', cursive;
    text-align: center;
}
#right {
    float: left;
    width: 33.3%;
    color: #fff;
    background: #30948D;
}