/*Including padding and border in the total width and height of the elements.*/
* {
    box-sizing: border-box;
  }
  nav {
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}
.nav-item {
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}
body {
    background-color: lightblue;
}
.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top:20px;
}
.col-6 {
    background-color: lightgreen;
    border-color: blue;
    border-style: solid;
    border-width: 2px;   
}
.col-9 {
    background-color: lightgreen;
    border-color: blue;
    border-style: solid;
    border-width: 2px;    
}
.img-fluid {
    margin: 28px;
}
.float-left {
    margin-top: 10px;
    margin-right: 10px;
}
form {
    padding-bottom: 15px;
}
footer {
    text-align:center;
}
  /* Media Queries*/

  /*Small devices (phone)*/
  @media (min-width: 576px) {

  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {

  }
  
  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {

  }
  
  /*Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {

  }