.jumbotron {
    background-color: rgb(40, 40, 133);
    text-align: center;
    padding: 50px;
    color: white;
    font-size: xx-large;
}
.header {
    background-color: rgb(238, 228, 228);
}
.arts {
    margin-bottom: 20px;
}
.row {
    margin-left: 1px;
    margin-bottom: 15px;
}
.btn {
    margin-right: 10px;
}